.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card-Container {
  display: flex;
  flex-direction: row;
  height: 150px;
}

.flex-item{
  flex-grow: 1;
}

.card-image {
  height: 150px;
  width: 150px;
  text-align: center; margin: 1em 0;
}

.card-field {
  font-weight: bold;
}

.card-price {
  font-size: large;
  font-weight: bold;
  border: 2px solid black;
  float: right;
  padding: 8px;
}

.card-title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title-text {
  font-weight: bold;
  font-size: medium;
  color: #6435C9;

}

.card-delete {
  float: right;
}

img {
  object-fit: cover;
  max-height: 150px;
  max-width: 150px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
} 
