.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardRoot {
  display: flex;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 150px;
  align-items: center;
  margin-bottom: 1rem;
  max-width: 80%;
}

.flex-item {
  flex-grow: 1;
}

.card-image {
  float: left;
  width: 10rem;
}

.card-field {
  font-weight: bold;
}

.card-details {
  float: center;
}

.card-description {
  margin: auto;
  max-width: 60%;
}

.card-price {
  font-size: large;
  font-weight: bold;
  border: 2px solid black;
  padding: 8px;
  margin-right: 16px;
  margin-left: auto;
  right: 0;
}

.card-title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title-text {
  font-weight: bold;
  font-size: medium;
  color: #6435c9;
  float: center;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-delete {
  float: right;
}

img {
  object-fit: contain;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.search-header-container {
  margin: 0.5rem 0 1rem 1rem;
  display: flex;
  align-items: center;
  float: left;
  justify-content: center;
}

.search-header-title {
  color: #6435c9;
  font-weight: bolder;
  margin: 0;
}

.search-header-search-bar {
  margin: 0 0 0 1rem;
}

.search-header-search-button {
  margin-left: 1rem;
  color: #6435c9;
}

.search-button {
	box-shadow: 0px 1px 0px 0px #b9c7c5;
	background-color:#6435c9;
	border-radius:4px;
	border:1px solid #6435c9;
	display:inline-block;
	cursor:pointer;
  color:#ffffff;
  font-family: sans-serif;
	font-size:15px;
	font-weight:bold;
	padding: 9px 24px;
	text-decoration:none;
}
.search-button:hover {
	background-color:#290197;
}